function Sys.init 0
call Math.init 0
pop temp 0
call Memory.init 0
pop temp 0
call Output.init 0
pop temp 0
call Screen.init 0
pop temp 0
call Main.main 0
pop temp 0
push constant 0
return
function Sys.halt 0
label WHILE_EXP_941612acf1e7d6892ddf0df7c35a3f87
push constant 0
not
not
if-goto WHILE_END_941612acf1e7d6892ddf0df7c35a3f87
goto WHILE_EXP_941612acf1e7d6892ddf0df7c35a3f87
label WHILE_END_941612acf1e7d6892ddf0df7c35a3f87
push constant 0
return
function Sys.wait 2
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP_eeac27185d7bef7a53407857876a20fe
push local 0
push argument 0
lt
not
if-goto WHILE_END_eeac27185d7bef7a53407857876a20fe
label WHILE_EXP_b6501e535d89f1a4122e5e64c39f40d4
push local 1
push constant 20000
lt
not
if-goto WHILE_END_b6501e535d89f1a4122e5e64c39f40d4
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP_b6501e535d89f1a4122e5e64c39f40d4
label WHILE_END_b6501e535d89f1a4122e5e64c39f40d4
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP_eeac27185d7bef7a53407857876a20fe
label WHILE_END_eeac27185d7bef7a53407857876a20fe
push constant 0
return
function Sys.error 0
push constant 4
call String.new 1
push constant 69
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 60
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 1
call String.new 1
push constant 62
call String.appendChar 2
call Output.printChar 1
pop temp 0
call Sys.halt 0
pop temp 0
push constant 0
return
