function Memory.init 0
push constant 0
pop static 0
push constant 2048
pop static 1
push constant 2048
pop static 2
push constant 0
push static 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 2
add
push constant 14334
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.peek 0
push argument 0
push static 0
add
pop pointer 1
push that 0
return
function Memory.poke 0
push argument 0
push static 0
add
push argument 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Memory.alloc 4
push static 2
pop local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 2
label WHILE_EXP_b7c949c3a0450c3c299bcb651d6b5370
push local 2
push argument 0
push constant 2
add
lt
not
if-goto WHILE_END_b7c949c3a0450c3c299bcb651d6b5370
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
push constant 1
push local 0
add
pop pointer 1
push that 0
pop local 2
push local 0
push constant 0
eq
if-goto IF_TRUE_d61220a85c6ed2b9ec0df6db55693b91
goto IF_FALSE_d61220a85c6ed2b9ec0df6db55693b91
label IF_TRUE_d61220a85c6ed2b9ec0df6db55693b91
push constant 1
neg
return
label IF_FALSE_d61220a85c6ed2b9ec0df6db55693b91
goto WHILE_EXP_b7c949c3a0450c3c299bcb651d6b5370
label WHILE_END_b7c949c3a0450c3c299bcb651d6b5370
push local 0
push local 2
add
push constant 2
add
push constant 1
sub
pop local 3
push local 3
push argument 0
sub
push constant 1
sub
pop local 1
push constant 0
push local 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push argument 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push local 2
push argument 0
sub
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 2
add
return
function Memory.deAlloc 1
push static 2
pop local 0
label WHILE_EXP_813592a7b0a0065a9d84f890da3bd91e
push constant 0
push local 0
add
pop pointer 1
push that 0
push constant 0
eq
not
not
if-goto WHILE_END_813592a7b0a0065a9d84f890da3bd91e
push constant 0
push local 0
add
pop pointer 1
push that 0
pop local 0
goto WHILE_EXP_813592a7b0a0065a9d84f890da3bd91e
label WHILE_END_813592a7b0a0065a9d84f890da3bd91e
push constant 0
push local 0
add
push argument 0
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
