function Math.init 0
push constant 15
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push static 0
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push static 0
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push static 0
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push static 0
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push static 0
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push static 0
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push static 0
add
push constant 1024
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push static 0
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push static 0
add
push constant 4096
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push static 0
add
push constant 8192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push static 0
add
push constant 16384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function Math.getUIntBitsMap 2
push constant 15
call Array.new 1
pop local 0
push constant 14
pop local 1
label WHILE_EXP_01e0afb2ce98851e6a070ea293d93787
push local 1
push constant 1
neg
gt
not
if-goto WHILE_END_01e0afb2ce98851e6a070ea293d93787
push argument 0
push local 1
push static 0
add
pop pointer 1
push that 0
push constant 1
sub
gt
if-goto IF_TRUE_edcab127a64d56c4ec0c28df5caf6528
goto IF_FALSE_edcab127a64d56c4ec0c28df5caf6528
label IF_TRUE_edcab127a64d56c4ec0c28df5caf6528
push local 1
push local 0
add
push constant 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0
push local 1
push static 0
add
pop pointer 1
push that 0
sub
pop argument 0
goto IF_END_edcab127a64d56c4ec0c28df5caf6528
label IF_FALSE_edcab127a64d56c4ec0c28df5caf6528
push local 1
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_END_edcab127a64d56c4ec0c28df5caf6528
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP_01e0afb2ce98851e6a070ea293d93787
label WHILE_END_01e0afb2ce98851e6a070ea293d93787
push local 0
return
function Math.manageSign 0
push argument 0
push constant 0
lt
push argument 1
and
push constant 0
gt
push argument 0
push constant 0
gt
push argument 1
and
push constant 0
lt
or
if-goto IF_TRUE_f81a1332607904c0998e0a19fe468ac6
goto IF_FALSE_f81a1332607904c0998e0a19fe468ac6
label IF_TRUE_f81a1332607904c0998e0a19fe468ac6
push constant 0
return
goto IF_END_f81a1332607904c0998e0a19fe468ac6
label IF_FALSE_f81a1332607904c0998e0a19fe468ac6
push constant 0
not
return
label IF_END_f81a1332607904c0998e0a19fe468ac6
function Math.abs 0
push argument 0
push constant 0
lt
if-goto IF_TRUE_89c87e9ff9061f5fed9611a4cbe40d64
goto IF_FALSE_89c87e9ff9061f5fed9611a4cbe40d64
label IF_TRUE_89c87e9ff9061f5fed9611a4cbe40d64
push argument 0
neg
return
label IF_FALSE_89c87e9ff9061f5fed9611a4cbe40d64
push argument 0
return
function Math.multiply 6
push argument 0
push argument 1
call Math.manageSign 2
not
pop local 5
push argument 0
call Math.abs 1
pop local 2
push argument 1
call Math.abs 1
pop argument 1
push argument 1
push local 2
gt
if-goto IF_TRUE_12cb44fce8810e5dc3cede3de140cecf
goto IF_FALSE_12cb44fce8810e5dc3cede3de140cecf
label IF_TRUE_12cb44fce8810e5dc3cede3de140cecf
push argument 1
pop local 3
push local 2
pop argument 1
push local 3
pop local 2
label IF_FALSE_12cb44fce8810e5dc3cede3de140cecf
push constant 0
pop local 0
push constant 0
pop local 1
push argument 1
call Math.getUIntBitsMap 1
pop local 4
label WHILE_EXP_a127022e3958d76beec1a6b09e15e732
push local 1
push constant 15
lt
not
if-goto WHILE_END_a127022e3958d76beec1a6b09e15e732
push local 1
push local 4
add
pop pointer 1
push that 0
if-goto IF_TRUE_cf0168fd7b55ad53f3f29970681b02c0
goto IF_FALSE_cf0168fd7b55ad53f3f29970681b02c0
label IF_TRUE_cf0168fd7b55ad53f3f29970681b02c0
push local 0
push local 2
add
pop local 0
label IF_FALSE_cf0168fd7b55ad53f3f29970681b02c0
push local 1
push constant 1
add
pop local 1
push local 2
push local 2
add
pop local 2
goto WHILE_EXP_a127022e3958d76beec1a6b09e15e732
label WHILE_END_a127022e3958d76beec1a6b09e15e732
push local 5
if-goto IF_TRUE_b7beb9ee8748c01304ee4a4ee0a706eb
goto IF_FALSE_b7beb9ee8748c01304ee4a4ee0a706eb
label IF_TRUE_b7beb9ee8748c01304ee4a4ee0a706eb
push local 0
neg
pop local 0
label IF_FALSE_b7beb9ee8748c01304ee4a4ee0a706eb
push local 4
call Array.dispose 1
pop temp 0
push local 0
return
function Math.divide 3
push argument 0
push argument 1
call Math.manageSign 2
not
pop local 0
push argument 0
call Math.abs 1
pop argument 0
push argument 1
call Math.abs 1
pop argument 1
push argument 1
push argument 0
gt
if-goto IF_TRUE_f16e5540c21723e53ca0a03aad75174e
goto IF_FALSE_f16e5540c21723e53ca0a03aad75174e
label IF_TRUE_f16e5540c21723e53ca0a03aad75174e
push constant 0
return
label IF_FALSE_f16e5540c21723e53ca0a03aad75174e
push argument 0
push argument 1
push constant 2
call Math.multiply 2
call Math.divide 2
pop local 1
push argument 0
push constant 2
push local 1
call Math.multiply 2
push argument 1
call Math.multiply 2
sub
push argument 1
lt
if-goto IF_TRUE_9b613190d1f0825b4b06c9fa69ce3069
goto IF_FALSE_9b613190d1f0825b4b06c9fa69ce3069
label IF_TRUE_9b613190d1f0825b4b06c9fa69ce3069
push constant 2
push local 1
call Math.multiply 2
pop local 2
goto IF_END_9b613190d1f0825b4b06c9fa69ce3069
label IF_FALSE_9b613190d1f0825b4b06c9fa69ce3069
push constant 2
push local 1
call Math.multiply 2
push constant 1
add
pop local 2
label IF_END_9b613190d1f0825b4b06c9fa69ce3069
push local 0
if-goto IF_TRUE_938d83ede8f3af65b28c56029f9a9c1d
goto IF_FALSE_938d83ede8f3af65b28c56029f9a9c1d
label IF_TRUE_938d83ede8f3af65b28c56029f9a9c1d
push local 2
neg
pop local 2
label IF_FALSE_938d83ede8f3af65b28c56029f9a9c1d
push local 2
return
function Math.sqrt 4
push constant 0
pop local 0
push constant 7
pop local 1
label WHILE_EXP_dfdb38d217f911ea449cb1ca64e8d05c
push local 1
push constant 1
neg
gt
not
if-goto WHILE_END_dfdb38d217f911ea449cb1ca64e8d05c
push local 0
push local 1
push static 0
add
pop pointer 1
push that 0
add
pop local 2
push local 2
push local 2
call Math.multiply 2
pop local 3
push local 3
push constant 1
sub
push argument 0
lt
push local 3
push constant 0
gt
and
if-goto IF_TRUE_acc04af020943c669de1a70df28c07d9
goto IF_FALSE_acc04af020943c669de1a70df28c07d9
label IF_TRUE_acc04af020943c669de1a70df28c07d9
push local 2
pop local 0
label IF_FALSE_acc04af020943c669de1a70df28c07d9
push local 1
push constant 1
sub
pop local 1
goto WHILE_EXP_dfdb38d217f911ea449cb1ca64e8d05c
label WHILE_END_dfdb38d217f911ea449cb1ca64e8d05c
push local 0
return
function Math.max 0
push argument 0
push argument 1
gt
if-goto IF_TRUE_85e299dbe362d28f53c3d208c628e68e
goto IF_FALSE_85e299dbe362d28f53c3d208c628e68e
label IF_TRUE_85e299dbe362d28f53c3d208c628e68e
push argument 0
return
goto IF_END_85e299dbe362d28f53c3d208c628e68e
label IF_FALSE_85e299dbe362d28f53c3d208c628e68e
push argument 1
return
label IF_END_85e299dbe362d28f53c3d208c628e68e
function Math.min 0
push argument 0
push argument 1
lt
if-goto IF_TRUE_2d03b4732f2b56bb1b0cedd60d2a24f8
goto IF_FALSE_2d03b4732f2b56bb1b0cedd60d2a24f8
label IF_TRUE_2d03b4732f2b56bb1b0cedd60d2a24f8
push argument 0
return
goto IF_END_2d03b4732f2b56bb1b0cedd60d2a24f8
label IF_FALSE_2d03b4732f2b56bb1b0cedd60d2a24f8
push argument 1
return
label IF_END_2d03b4732f2b56bb1b0cedd60d2a24f8
